<nav class="top-header">
  <div class="header-content">
    <div class="nav-buttons">
      <button routerLink="/home" routerLinkActive="active">Home</button>
      <button routerLink="/projects" routerLinkActive="active">Projects</button>
      <button routerLink="/research" routerLinkActive="active">Research</button>
      <button routerLink="/involvements" routerLinkActive="active">Involvements</button>
      <button routerLink="/blog" routerLinkActive="active">Blog</button>
    </div>
  </div>
</nav>
