<!-- Section: Research -->
<div id="research" class="section">
    <h2>Research</h2>
    <p> My research is focused on reducing bias in healthcare ML models. We are specifially bias models for OUD or opioid use disorder. </p>
    <p>
        These biases can affect marginalized groups by
        concluding that <a href="https://www.science.org/doi/10.1126/science.aax2342" target="_blank" rel="noopener noreferrer">Black patients are healthier than equally sick White patients,</a> 
        falsly predicting <a href="https://www.ahajournals.org/doi/full/10.1161/CIRCHEARTFAILURE.122.009473" target="_blank" rel="noopener noreferrer">heart disease probabilities</a>,
        assigning black women  <a href="https://jamanetwork.com/journals/jamanetworkopen/fullarticle/2778568#google_vignette" target="_blank" rel="noopener noreferrer">a higher chance of having postpartum depression,</a>
        and more. We plan on creating a custom model to reduce bias.  
    </p>
    <p>
        We are looking at work like 
        <a href="https://arxiv.org/pdf/2402.00955" target="_blank" rel="noopener noreferrer">FairEHR-CLP</a>, which uses generative models to do contrastive learning on EHR data. 

    </p>
    <p>
        I recently wrote a summer grant proposal for 2025. Reach the most updated description of our research.
        <a href="/andrew_bahsoun_research_application.pdf" target="_blank" rel="noopener noreferrer">Read here.</a>

    </p>
</div>