<section id="blog">
  <h1>Photos</h1>

  <h2>Graduation Photos (2026)</h2>
  <div class="photo-grid">
    <img src="assets/images/gradphotos/schmid.JPG" alt="Graduation photo 1">
    <img src="assets/images/gradphotos/dog.JPG" alt="Graduation photo 2">
    <img src="assets/images/gradphotos/doti.JPG" alt="Graduation photo 3">
    <img src="assets/images/gradphotos/fisheye.JPG" alt="Graduation photo 4">
    <img src="assets/images/gradphotos/memorial.JPG" alt="Graduation photo 4">
    <img src="assets/images/gradphotos/panther1.JPG" alt="Graduation photo 4">
    <img src="assets/images/gradphotos/panther2.JPG" alt="Graduation photo 4">
    <img src="assets/images/gradphotos/stairs.JPG" alt="Graduation photo 4">

  </div>
    <p></p>
    <p>More photos and updates to be added here soon...</p>
</section>