Chapman Kesem								March 2023 – Present
Volunteered as a Camp Counselor, dedicated to creating a diverse and supportive environment for children affected by parental cancer, emphasizing learning, resilience, and empathy in a dynamic setting.
Communicated with children aged 5-15 about their parent’s cancer with a goal of empowering them to discuss their emotions and personal story. 

Chapman CARES								February 2023 – Present
Organized and participated in events like the Clothesline Project and Denim Day, promoting open discussions on gender stereotypes and cultural beliefs.
Trained Chapman Resident Advisors on how to promote a healthy and safe environment in their halls.
