.involvement-photo {
        width: 450px;     
        height: auto;
        border-radius: 12px;   // or 50% for a circle
        display: block;
        margin-bottom: 18px;
        box-shadow: 0 2px 8px rgba(0,0,0,0.10);
      
}