<div>
  <h2 class="standalone-header">Leadership & Volunteering</h2>
    <section id="kesem">
        <div class="container">
          <h3>
            Camp Kesem
          </h3>
          <li> 
            As a Volunteer Camp Counselor I helped set up and fundraise for a week long camp for Children who have
            been affected by their parents cancer. 
          </li>
          <li>
            Communicated with children aged 5-15 about their parent’s cancer with a goal of empowering them to
            discuss their emotions and personal story.
          </li>
          <img src="assets/images/kesem.jpg" alt="kesem" class="involvement-photo">
          </div>
      </section>
      <section id="cares">
        <div class="container">
            <h3>
              Chapman CARES
            </h3>
            <li>
              Organized and participated in events like the Clothesline Project and Denim Day, promoting open
              discussions on gender stereotypes and cultural beliefs.
              </li>
              <li>
              Trained Chapman Resident Advisors on how to promote a healthy and safe environment in their halls.
              </li>
              <img src="assets/images/cares.jpg" alt="cares" class="involvement-photo">
        </div>
      </section>
      <section id="cs-club">
        <div class="container">
            <h3>Computer Science Club</h3>
            <li>
              I Participate in the Chapman University Computer Science Club, where I engage in discussions and other activities related to computer science.
            </li>
            <img src="assets/images/csclub.jpg" alt="csclub" class="involvement-photo">
        </div>
          </section>
        <section id="ifc">
          <div class="container">
            <h3>
              IFC Recruitment Chair
            </h3>
            <li>
              Led the recruitment process for the Interfraternity Council, overseeing a team of 10+ rush chairs. 
            </li>
            <li>
              Helped new rushees with the recruitment process, answering questions and providing guidance.
            </li>
            <img src="assets/images/ifc.png" alt="ifc" class="involvement-photo">
        </div>
      </section>

</div>
