<div class="main-container">

    <section id="about">
      <img src="assets/images/profile_pic.jpeg" alt="Andrew Bahsoun" class="profile-pic">
      <h2 class="section-header">Andrew Bahsoun</h2>
      <div class="container">
        <p>
          Creative and disciplined undergraduate 4+1 EECS student motivated in pursuing research on trustworthy and 
          fair machine learning systems for healthcare applications.
        </p>
        <p>
          Currently completing an integrated Bachelor's and Master's program in Computer Science, with a focus on AI and data science.
          <a href="https://catalog.chapman.edu/preview_program.php?catoid=44&poid=8888" target=" _blank" rel="noopener noreferrer">Learn more about the program here.</a>
        </p>
        <p>
          📧 <a href="mailto:ab@andrewbahsoun.com">ab&#64;andrewbahsoun.com</a><br>
          💼 <a href="https://www.linkedin.com/in/andrew-bahsoun-4b3a901a2/">LinkedIn</a><br>
          🚀 <a href="https://github.com/andrewbahsoun">GitHub</a><br>
          📜 <a href="assets/files/AndrewBahsoun_resume.pdf" target="_blank" rel="noopener noreferrer">Resume</a>
          📑 <a href="assets/files/CV.pdf" target="_blank" rel="noopener noreferrer">CV</a>
        </p>
      </div>
    </section>
  
    <section id="education">
      <h2 class="section-header">Education</h2>
      <div class="container">
        <h3>Chapman University</h3>
        <li>BS Computer Science <em>(2022 - 2026)</em></li>
        <li>MS of Science in Electrical Engineering and Computer Science (2025 - 2027)</li>
 
        <strong>Relevant Courses:</strong> Data Structures, Scientific Computing, Networks, Operating Systems,
        Database Management, Software Requirements and Testing, Software Design
      </div>
    </section>
  
    <section id="experience">
      <h2 class="section-header">Experience</h2>
      <div class="container">
        <div class="experience-entry">
          <img src="assets/images/chapman_logo.png" alt="Chapman University logo" class="experience-logo">
          <div class="experience-body">
            <div class="experience-header">
              <h3>Research Assistant • Chapman University</h3>
              <span class="experience-dates">(August 2024 - Present)</span>
            </div>
            <ul>
              <li>Currently creating a multi-modality model to predict Length of Stay for hospital patients. Fusing timeseries EHR data with text-based notes using PyTorch. Using a Lagrangian Constraint based In-Processing
                method to decrease bias in demographic groups.</li>
              <li>Cleaning large datasets using pandas</li>
              <li>FIRE and Robert A. Day Excellence Grant Recipient. <a href="assets/files/FIRE_Application.pdf" target="_blank" rel="noopener noreferrer">Read the proposal here.</a> </li>
            </ul>
          </div>
        </div>

        <div class="experience-entry">
          <img src="assets/images/ingram_micro_logo.png" alt="Ingram Micro logo" class="experience-logo">
          <div class="experience-body">
            <div class="experience-header">
              <h3>Software Engineer Intern • Ingram Micro</h3>
              <span class="experience-dates">(June 2025 - August 2025)</span>
            </div>
            <ul>
              <li>Contributed in an Agile Software Development Lifecycle utilizing JUnit to follow Test Driven Development.</li>
              <li>Redesigned xVantage discounts to allow for Order-Based Discounts for vendors. Reconfigured open-API
                schemas to allow for a new data flow between the service and engine layers.</li>
              <li>Optimized SQL queries to follow production requirements (decreasing response time by 800ms at times). Refactored legacy code to remove unnecessary
                logic, updated deprecated Java items.</li>
              <li>Developing a side-project with fellow interns to create an internal AI Agent for employee inquries</li>
            </ul>
          </div>
        </div>
          <h3>Past Positions</h3>
        <div class = "past positions">
        <h3>Pre-Intern • Ingram Micro</h3>
        (Summer 2024)
        <ul>
          <li>Designed and presented a feature to executives for Ingram’s Xvantage platform. Used Figma to present our design.</li>
          <li>Attending weekly meetings with CLAOC to study career building and successful practices.</li>
        </ul>
        <h3>Engineering Academy Instructor • Chapman University</h3>
        (Summer 2024)
        <ul>
          <li>
            Coordinated weekly workshops to educate high schoolers on the fundamentals of machine learning,
            computer vision, and neural networks.
          </li>
          <li>
            Assembled Jupyter Notebook documents for classification models in TensorFlow. Presented and assisted
            students through the ML building process.
          </li>
        </ul>
        <h3>Tour Guide & Office of Admission • Chapman University</h3>
        (August 2023 - August 2024)
        <ul>
          <li>Conducted 3+ weekly campus tours for prospective students and families, sharing insights about Chapman University.</li>
          <li>Assisted in the Office of Admission with various tasks, enhancing the visitor experience.</li>
        </ul>
      </div>
      </div>
    </section>
 
    <section id="skills">
      <h2 class="section-header">Skills</h2>
      <div class="container">
        <p>
          <strong>Languages:</strong> Java, C++, Python, SQL, JavaScript, HTML/CSS<br>
          <strong>Tools & Technologies:</strong> PyTorch, TensorFlow, AngularJS, Docker, Git, Maven, Unix/Linux, NLP
        </p>
        <p>
          <strong>Soft Skills:</strong> Public speaking, Leadership, Collaboration, Communication, Time Management
        </p>
      </div>
    </section>
  

  
  </div>
  
