<div id="bio" class="section">
    <h4>Andrew Bahsoun</h4>
    <p>Welcome to my homepage! Here, you'll learn about my skills, projects, and research interests.
        This page is constantly under constuction, so check back for updates!
    </p>
    <div class="h3-wrapper">
        <h3>About me</h3>
        <p>>Third-year Computer Science student at Chapman University with a themed inquiry in Physics. I enjoy trying new things and learning.  </p>
        <h3>Skills</h3>
        <p>>ML frameworks like <b>PyTorch</b> and <b>TensorFlow</b>, and strong knowledge in <b>Python</b> and libraries like <b>NumPy</b>, <b>Pandas</b>, <b>MatPlotLib</b>, and <b>SciPy</b>. </p>
        <p>>Software Development in <b>SCRUM</b>, <b>Agile</b>. TDD in Maven & Junit and PyTest. </p>
        <p>>Experience in <b>C/C++</b>, <b>Java</b></p>
        <h3>Experience</h3>
        <p>><b>August 2024-Current:</b> Undergraduate researcher at Chapman. I have been working on fairness in ML.</p>
        <p>><b>June 2024-August 2024:</b> I taught a high school course in Machine Learning and Python at Chapman.</p>
        <p>><b>June 2024-July 2024:</b> Pre-Intern at Ingram Micro.</p>
    </div>
</div>