<h2 class="standalone-header">Projects</h2>
<section id="hand-washing-project">
    <div class="container">
      <h3>AI Handwashing Analyzer <a href="https://github.com/andrewbahsoun/hand-washing-2" target="_blank" rel="noopener noreferrer"> [github]</a></h3>
      <ul>
        <li>
          A hand-washing habit recognition tool with LayerJot using Python, Tensorflow, and OpenCV. I spearheaded a 6-person team. I then revised the model for better accuracy in a solo project.
        </li>
        <li> Overall Winner of GCI Showcase, competing against 53 other teams. Overall Winner and $500 Grand Prize recipient  </li>
        <li>
          The project was featured in this article by <a href="https://news.chapman.edu/2024/05/31/this-ai-hand-washing-coach-may-help-prevent-the-spread-of-deadly-viruses/" target="_blank" rel="noopener noreferrer">Chapman University</a>
      </ul>
      <img src="assets/images/handwashing.png" alt="handwashing" class="project-photo">
    </div>
  </section>
  <section id="book-vocab-project">
    <div class="container"> 
      <h3>Book Vocab Analyzer <a href="https://github.com/andrewbahsoun/book-vocab" target="_blank" rel="noopener noreferrer"> [github] </a> </h3>
        <ul>
          <li>
            NLP tool built with Python NLTK and AngularJS for studying vocabulary from online ebooks.
          </li>
          <li>
            Uses the free <a href="https://www.gutenberg.org/" target="_blank" rel="noopener noreferrer"> Project Gutenberg</a> API to retrieve book text.
          </li>
        </ul>
        <img src="assets/images/book_vocab.png" alt="book_vocab" class="project-photo">
    </div> 
  </section>
  <section id="album-app">
    <div class="container">
      <h3>Java Photo Album <a href="https://github.com/andrewbahsoun/media-viewer" target="_blank" rel="noopener noreferrer"> [github] </a></h3>
      <ul>
        <li>
          A Java based photo album application built with AWT that allows users to upload, view, and manage photos.
        </li>
        <li>
          I built this as a personal project to go through my digital camera photos when I was studying abroad.
        </li>
        <li>
          There is still a lot of functionality I want to add. Such as automatic photo uploads from my camera, and deploying the photos in the album to this website (in the blog section).
        </li>
      </ul>
      <img src="assets/images/photo-viewer-1.png" alt="photo-viewer-main" class="project-photo">
      <img src="assets/images/photo-viewer-2.png" alt="photo-viewer-flip" class="project-photo">
    </div>
  </section>
    <section id="profit-calculator">
        <div class="container">
          <h3>Java Based Profit Calculator <a href="https://github.com/andrewbahsoun/Profit-Calculator" target="_blank" rel="noopener noreferrer"> [github] </a></h3>
          <ul>
            <li>
              One of my first solo projects ever. I built this in high school during my AP Computer Science class.
            </li>
            <li>
              The app has 4 screens, one for each process in the calculation. It gives a easy way to calculate different fees depending on the website that the item was sold on
            </li>
          </ul>
          <div class="image-row">
            <img src="assets/images/startingScreen.png" alt="photo-viewer-main" class="smaller-photo">
            <img src="assets/images/shippingScreen.png" alt="photo-viewer-main" class="smaller-photo">
            <img src="assets/images/storeSelection.png" alt="photo-viewer-main" class="smaller-photo">
            <img src="assets/images/resultScreen.png" alt="photo-viewer-main" class="smaller-photo">
          </div>
        
        </div>

    </section>
  